*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

.night {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2));
}

.start {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  align-items: center;
  margin-top: 25px;

  opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.start h1 {
    font-size: 40px;
}

.start p {
    font-size: 15px;
}

.start.visible {
    opacity: 1;
    transform: translateY(0);
}

.button img{
    margin-top: 5px;
    filter: drop-shadow(0 0 10px rgba(231, 231, 149, 0.83))
            drop-shadow(0 0 20px rgba(77, 122, 111, 0.83));
    transition: filter 0.3s ease, transform 0.3s ease;
}

.button img:hover {
    cursor: pointer;
}

.not-loaded * {
    animation-play-state: paused !important;
  }